.header {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 32px;
}
.search {
  margin-top: 32px;
  align-self: center;
  position: relative;
}
.search__input {
  border-radius: 20px;
  border: none;
  background-color: #fff;
  width: 278px;
  height: 42px;
  padding: 0px 50px 0px 10px;
  font-size: 1rem;
}
.search__submit {
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color: #d61010;
  cursor: pointer;
}
.navbar__search-button {
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color: #d61010;
  cursor: pointer;
}

.submit--deactive {
  display: none;
  position: initial;
}
.input--deactive {
  display: none;
}

.input--active {
  display: block;
}
.submit--active {
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.navbar__logo {
  max-width: 150px;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 22px;
}
.navbar__link {
  color: #fff;
}

.navbar__list > li:nth-child(1) {
  display: none;
}
.navbar__list > li:nth-child(2) {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;

  margin: 72px 16px 0px;
}
.main__title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 15ch;
  word-break: keep-all;
  align-self: flex-end;
}
.film {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 32px;
  margin: 32px 16px 0px;
}
.film__content {
  display: flex;
  gap: 12px;
}
.film__image {
  max-width: 158px;
  max-height: 237px;
}
.film__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.film__title {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
.film__rating {
  font-size: 0.6rem;
  font-weight: 400;
  color: #d9d9d9;
}
.film__like-icon {
  max-width: 86px;
}
@media (min-width: 768px) {
  .navbar__logo {
    max-width: 250px;
    position: relative;
  }
  .navbar__search-button {
    display: none;
  }
  .search {
    margin-top: 0px;
  }
  .search__input {
    display: block;
  }
  .search__submit {
    display: block;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }

  .main__title {
    align-self: center;
    max-width: 60ch;
    font-size: 1.5rem;
    padding: 100px;
  }
  .film {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .navbar__logo {
    max-width: 100%;
  }
  .navbar__list > li:nth-child(1) {
    display: list-item;
  }
  .navbar__list > li:nth-child(2) {
    display: list-item;
  }

  .film {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1300px) {
  .navbar__list {
    grid-column: 2;
    align-self: center;
  }
  .navbar__logo {
    grid-column: 1;
    align-self: center;
  }
}
